@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Be Vietnam Pro', sans-serif;
}

// Brand
.brand {
    &__item {
        width: calc(100%/5 - (60px*4)/5);
        margin-right: 60px;
    }

    &__item:last-child {
        margin-right: 0;
    }

    @media(max-width: 991.98px) {
        &__item {
            width: calc(100%/4 - (60px*3)/4);
        } 

        &__item:nth-child(5n) {
            margin-right: 0;
        }
    }
}
// End Brand
// List Of Products
.products {
    &__item {
        width: calc(100%/4 - (20px*3)/4);
        margin-right: 20px;
        margin-bottom: 30px;
    }

    &__item:last-child {
        margin-right: 0;
    }

    @media(max-width: 767.98px) {
        &__item {
            width: calc(100%/2 - (20px)/2);
        }

        &__item:nth-child(2n) {
            margin-right: 0;
        }
    }
}
// End List Of Products
// Sale Of Products
.sale {
    &__item {
        width: calc(100%/4 - (20px*3)/4);
        margin-right: 20px;
        margin-bottom: 30px;
    }

    &__item:last-child {
        margin-right: 0;
    }

    @media(max-width: 767.98px) {
        &__item {
            width: calc(100%/2 - (20px)/2);
        }

        &__item:nth-child(2n) {
            margin-right: 0;
        }
    }
}
// End Sale Of Products
// Evaluate
.section3 {
    &__item {
        width: calc(100%/3 - (20px*2)/3);
        margin-right: 20px;
    }

    &__item:nth-child(3n) {
        margin-right: 0;
    }

    @media(max-width: 767.98px) {
        &__item {
            width: calc(100%/2 - (20px)/2);
        }

        &__item:nth-child(3n) {
            margin-right: 20px;
        }
        
        &__item:nth-child(2n) {
            margin-right: 0;
        }
    }

    @media(max-width: 575.98px) {
        &__item {
            width: calc(100%);
            margin-right: 0;
        }

        &__item:nth-child(3n) {
            margin-right: 0;
        }
    }
}
// End Evaluate